* {
    border: none;
    border-radius: 0;
    font-family: mononoki, Roboto, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 43, 54, 0.48);
    border-radius: 16 16;
    color: white;
}
#workspaces button {
    background: transparent;
    padding: 0 6;
    color: white;
}

#workspaces button.active {
    background: rgba(38, 139, 210, 0.32);
    border-radius: 8 8;
    border-top: 1px solid white;
}

#clock {
    background: rgba(38,139,210,0.32);
    padding: 0 8 0 8;
    border-radius: 8 8;
    color:white;
}

#battery {
    background: rgba(38,139,210,0.32);
    border-radius: 8 8;
    padding: 0 10 0 10;
    color: white;
}

#battery.charging {
    color: white;
    padding: 0 16 0 26;
    border-radius: 8 8;
    background: rgba(38,139,210,0.32);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#tray {
    padding: 0 8 0 8;
    border-radius: 8 8;
    background: rgba(38,139,210,0.32);

}
