* {
    border: none;
    border-radius: 0;
    font-family: mononoki, Roboto, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 43, 54, 0.69);
    border-radius: 15 15;
    color: white;
}

tooltip {
  background: rgba(0, 43, 54, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: white;
}

#workspaces button.active {
    background: transparent;
    border-top: 1px solid @background;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background: rgba(0,0,0,0);
    color:white;
}

#battery {
    background: rgba(0,0,0,0);
    color: white;
}

#battery.charging {
    color: white;
    background: rgba(0,0,0,0);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
